<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Nombres de Jugadores</title>
    <link rel="stylesheet" href="../style/style.css" />
</head>
<body>
    <main>
        <section class="containerCreate">
            <h1 class="titlePlayers">Ingrese los Nombres<br> de<br> los Jugadores</h1>
            <input type="text" id="inputNames" placeholder="Nombre del Jugador">
            <button id="CreateNames" class="CreateNames">Agregar Jugador</button>
            <table id="namesTable" class="namesTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Los nombres ingresados aparecerán aquí -->
                </tbody>
            </table>
            <button id="startGame" class="btn-continue">Iniciar Juego</button>
        </section>
    </main>
    <script type="module" src="../modules/create_perfil.js"></script>
</body>
</html>