<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Escoger jugaodres </title>
    <link  rel="stylesheet" href="../style/style.css" />
</head>
<body>
    <main>
        <section class="container_choose">
            <h2 class="subtitle">
                ¿Cuantos personas quieren jugar?
            </h2>
            <section class="container-block">
                <article>
                    <div class="container-players" value="1" >1</div>
                </article>
                <article>
                    <div class="container-players" value="2" >2</div>
                </article>
                <article>
                    <div class="container-players" value="3" >3</div>
                </article>
                <article>
                    <div class="container-players" value="4" >4</div>
                </article>
                <button class="btn-continue" id="btn-continue" ><a class="inputContinue" href="./create_name.html"> Continuar </a></button>
            </section>
        </section>
    </main>
</body>
<script  type="module" src="../modules/count_players.js"></script>
</html>