<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Escoger jugaodres </title>
    <link  rel="stylesheet" href="../style/style.css" />
</head>
<body>
    <main>
        <section class="container_choose">
            <h2 class="subtitle">
                ¿Cuantos personas quieren jugar?
            </h2>
            <section class="container-block">
                <article>
                    <div class="container-players">1</div>
                </article>
                <article>
                    <div class="container-players">2</div>
                </article>
                <article>
                    <div class="container-players">3</div>
                </article>
                <article>
                    <div class="container-players">4</div>
                </article>
            </section>
        </section>
        <footer class="content-continue">
            <button class="btn-continue"> Continuar </button>
        </footer>
    </main>
</body>
<script src=""></script>
</html>